* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #c9deff;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 250px;
    border-radius: 10px;
}

.image {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-image: url(drawers.jpg);
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        width: 100%;
    }
    
    .image {
        height: 470px;
        min-width: 300px;
    }
}